.login {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 99vw;
    height: 80vh;

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: 0px 0px 4px 0px #949494d5;
        background-color: #fff;
        border-radius: 15px;
        padding: 35px;
        width: 30%;
        min-height: 40%;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 25px;
            width: 100%;
            height: 100%;

            label {
                display: flex;
                flex-direction: column;

                width: 100%;
                gap: 5px;

                input {
                    border: 1px solid #aaa;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 21px;

                    outline: none;
                }

                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #FB9696;
                }
            }

            button {
                padding: 13px 90px;
                font-size: 21px;
                border-radius: 30px;

                border: none;
                background-color: #ecbf50;
                box-shadow: 0px 0px 4px 0px #3f3f3f;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #e7ab11;
                }
            }
        }
    }
}