<div class="login">
  <div class="form-container">
    <h1>Login</h1>
    <form id="form" (ngSubmit)="login()" [formGroup]="form">
      <label for="user">
        Usuário
        <input id="user" formControlName="user" type="text" />
        <span *ngIf="!form.get('user')?.valid && form.get('user')?.touched">Usuário inválido!</span>
      </label>
      <label for="password">
        Senha
        <input id="password" formControlName="password" type="password" />
        <span *ngIf="!form.get('password')?.valid && form.get('password')?.touched">Senha precisa ter no mínimo 4 caracteres!</span>
      </label>
      <button type="submit">Logar</button>
      <button (click)="register()" type="button">Cadastrar</button>
    </form>
  </div>
</div>
