<div class="cart">
  <div *ngIf="cart.length === 0">
    <p>O carrinho está vazio.</p>
  </div>

  <div *ngIf="cart.length > 0">
    <h2>Produtos no Carrinho</h2>
    <div *ngFor="let product of cart" class="cart-item">
      <img [src]="product.image" alt="{{ product.name }}" class="cart-item-image">
      <div class="cart-item-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p><strong>Preço:</strong> {{ product.price | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p><strong>Quantidade:</strong> {{ product.quantity }}</p>
        <p><strong>Total:</strong> {{ product.price * product.quantity | currency:'BRL':'symbol':'1.2-2' }}</p>
        <button (click)="removerProduto(product)" class="remover-btn">Remover</button>
      </div>
    </div>
    <button (click)="finalizarPedido()" class="finalizar-btn">Finalizar Pedido</button>
  </div>
</div>